.title {
  font-size: 64px;
}

.landing-form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}

.primary-cta-button {
  border: none;
  background: transparent;
  padding: 12px 24px;
  max-width: 320px;
}

.text {
  font-weight: 900;
  font-size: 40px;
  color: #212426;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.25);

  background: linear-gradient(to right, #121c84, #8278da);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.3s;
}

.primary-cta-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
